.heading {
  margin: var(--lg-x) 0 var(--sm);
  font-size: 2.4rem;
  font-weight: 700;
}

.heading2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 2rem;
}

/* Card like select options */
.baggageDiv {
  display: flex;
  position: relative;
  min-width: 600;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  /* Add some hover effect */
  transition: all 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.selected {
  background: linear-gradient(to right, #f0f7ff, white);
  border-color: #2563eb;
}

/* Inside the cards */
.baggageSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
}

.weightDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px; /* space between button, weight, button */
  min-width: 120px; /* adjust as needed for your layout */
  padding: 4px 0;
}

.weightDiv span {
  text-align: center;
  width: 60px;
}

.weightDiv button {
  width: 28px;
  height: 28px;
  font-size: 18px;
  text-align: center;
  padding: 0;
  border-radius: 4px;
}

.arrow {
  margin: 0 12px;
  color: #9ca3af;
}

.duration {
  color: #6b7280;
  font-size: 14px;
  margin-top: 6px;
  display: block;
  line-height: 1.2;
}

/* middle logo part */
.flightDetail {
  display: flex;
  align-items: center;
}

.airline {
  display: flex;
  align-items: center;
}

.airlineLogo {
  background: #e74c3c;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  margin-right: 12px;
}

.flightNumber {
  color: #6b7280;
  font-size: 14px;
}

.baggagePrice {
  font-size: 22px;
  font-weight: 700;
  color: #1f2937;

  width: 100px;
}

.selectFlight {
  background: linear-gradient(to right, #3a86ff, #4895ef);
  padding: 12px 40px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(58, 134, 255, 0.3);
  transition: all 0.3s;
}

/* Final price and continue button */

.finalSection {
  display: flex;
  position: relative;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 800;
  font-size: 24px;
  border-top: 3px solid #eaeaea;
  padding-top: 20px;
}

.forwardButton {
  border: 1px solid black;
  padding: 2px;
  font-size: 20px;
  color: white;
  background: black;
}

.continueButton {
  background: linear-gradient(to right, #184da3, #2970c0);
  padding: 12px 40px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(58, 134, 255, 0.3);
  transition: all 0.3s;
}

.continueButton:hover {
  background: linear-gradient(to right, rgb(32, 77, 145), #1b4b81);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(58, 134, 255, 0.4);
}
