@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-VariableFont_opsz\,wght.woff2");
}

/* if we want to have a dark mode then just invert the last hsl percentage value
--background: hsl(0, 0%, 4%);
--foreground: hsl(0, 0%, 91);
--

*/

:root {
  /* colors */
  --background: hsl(0, 0%, 96%);
  --foreground: hsl(0, 0%, 9%);
  --primary: #42b3eb;
  --primary-hover: #1298db;
  --secondary: #fb9d39;
  --secondary-hover: #f38612;
  --accent: #18272e;
  --grey: #e3e8ec;

  /* Spacing */
  --xs: 4px;
  --sm: 8px;
  --md: 16px;
  --lg: 24px;
  --lg-x: 32px;
  --lg-xx: 64px;

  /* Others */
  --shadow: rgba(0, 0, 0, 0.1);
  --border: solid rgba(0, 0, 0, 0.1);
  --transition: 0.1s ease-out;

  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  --filter-secondary: invert(67%) sepia(93%) saturate(798%) hue-rotate(331deg) brightness(100%)
    contrast(98%);
  --filter-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(228deg) brightness(103%)
    contrast(101%);
  interpolate-size: allow-keywords;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  height: 100vh;

  font-family: "Inter";
  font-weight: 400;
  font-size: 1.6rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 5px;

  font-family: inherit;
  font-weight: 300;
  font-size: 1.6rem;
}

h1 {
  line-height: 1.2em;
}

input {
  font-size: 1.6rem;
}

label {
  color: black;
}

/* utility classes - could potentially put in another css file */

.flex {
  display: flex;
  flex-direction: row;
}

.heading {
  font-size: 8rem;
  color: white;
  text-align: center;
  margin: var(--lg-x) 0;
}

.formHeading {
  margin-top: var(--lg);
  line-height: 2.4em;
}

/* .card {
  background-color: white;
  margin: auto;
} */
