/* I imagine these styles sammy made could be used for forms elsewhere */

.loginOutter {
  width: 100%;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBox {
  padding: 50px;
  margin: 10px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  border: 2px solid black;
  border-radius: 15px;
}

.loginBox h1 {
  text-align: left;

  width: 100%;
}

.loginForm {
  margin-top: 25px;
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.loginForm input {
  padding: 10px;
  width: 100%;
}

.loginForm button {
  padding: 10px;
  width: 100%;

  background-color: black;
  color: white;
}

.loginForm div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.link {
  color: blue;
}

.image {
  text-align: center;
}
