.container {
  border-radius: var(--sm);
  box-shadow: 0 0 0px 1px var(--shadow);
  overflow: hidden;
}

/* need to figure out how to do conditional css styling */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: var(--sm);
}

.header.active {
  border-bottom: 1px solid var(--shadow);
}

/* toggler */

.button {
  line-height: 0;
  width: 32px;
  height: 32px;
  transition: background-color 0.1s ease-out;
}

.button:hover {
  background-color: rgb(230, 230, 230);
}

.icon {
  transition: all 0.1s ease-out;
}

.icon.active {
  transform: rotate(-90deg);
  color: var(--secondary);
}

/* may need an animation of some kind to animate Expanding card */

.content {
  padding: var(--sm);
}
