.card {
  background-color: white;
  margin: auto;
  box-shadow: 0 0 2px 2px var(--shadow);

  padding: var(--md);
  border-radius: var(--md);
  margin: 0 var(--lg-xx);
  min-width: min-content;
}

.heading {
  color: white;
  font-size: 8rem;
  text-align: center;
  padding: var(--lg-xx);
}

.submit {
  width: 40px;
  height: 40px;
}

/* form card styles */

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formRow,
.itemRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.formRow {
  gap: var(--lg);
}

.itemRow {
  gap: var(--sm);
}

.check {
  display: flex;
  justify-content: space-between;
  gap: var(--sm);
}

/* fetured deals */

.featured {
  position: inherit;
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--lg-x);
}

.featuredContainer {
  margin: var(--lg-x) var(--lg-xx);
}

.featuredHeading {
  /* line-height: 3em; */
  margin-top: var(--lg-xx);
  margin-bottom: var(--lg);
}

/* media queries */

@media (max-width: 1180px) {
  .formRow {
    flex-direction: column;
  }
}
