.card {
  padding: var(--md);
  border-radius: var(--md);
  width: 75%;
}

.heading {
  font-size: 8rem;
  text-align: center;
  margin: 82px 0;
}

.submit {
  width: 40px;
  height: 40px;
}

/* form card styles */

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--md);
  /* flex-grow: 1; */
}

/* media queries */

@media (max-width: 1180px) {
  .formRow {
    flex-direction: column;
  }
}
