.header {
  text-transform: capitalize;
  min-width: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  font-size: 20px;

  padding: 20px;
  border: 2px solid transparent;

  margin-bottom: 20px; /* can get rid of this if you add gap to flex container */
  min-width: 600px;

  border-radius: var(--sm);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.incrementer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--md);
}

.button {
  line-height: 0;
  color: white;
  background-color: var(--primary);

  width: 24px;
  height: 24px;
  border-radius: var(--xs);
}

.weight {
  min-width: var(--lg-xx);
  text-align: center;
}

.price {
  font-size: 22px;
  min-width: 100px;
  font-weight: 700;
  color: #1f2937;
}
