.summary {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


/* seat sum part */
.selectedSeatsGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    margin-bottom: 16px;
    max-height: 300px;
    overflow-y: auto; 
    padding-right: 8px;
    
}

.selectedSeatItem {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}



/* total part */
.totalContainer{
    display:flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    margin-bottom: 16px;
    
}

.totalLabel {
    font-size: 18px;
    font-weight: 700;
}


/* Final button */
.continueButton {
    background: linear-gradient(to right, #184da3, #2970c0);
    padding: 12px 40px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(58, 134, 255, 0.3);
    transition: all 0.3s;
    margin-top: 12px;
}

.continueButton:hover {
    background: linear-gradient(to right, rgb(32, 77, 145), #1b4b81);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(58, 134, 255, 0.4);
}

.continueButton:disabled {
    background-color: #ddd;
    color: #999;
    cursor: not-allowed;
}