.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  box-shadow: 0 0 1px 1px var(--shadow);
  padding: 0 var(--lg-x);
  height: 52px;

  position: relative;
  z-index: 1;
}

.nav a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  transition: color 0.1s ease-out;
}

.nav a:hover {
  color: var(--secondary);
}

/* logo styles */

.logo {
  font-weight: 700;
  font-size: 1.8rem;
}

/* container styles */

.container {
  display: flex;
  gap: 24px;
}

.container a {
  font-size: 1.4rem;
}
