.heading {
  margin-top: var(--lg);
  line-height: 2.4em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--md);
}

/* passenger forms */

.passenger {
  padding: var(--md);
  background-color: white;
  border-radius: var(--sm);
  /* width: 5px; */
  /* color: green; */
}

.details {
  box-shadow: none;
  border-radius: none;
  padding: 0;
}

/* passenger fieldset and contents */

.fieldset {
  display: flex;
  gap: var(--md);
  border: 0;
  outline: 0;
}

.fieldset > span {
  display: flex;
  flex-direction: column;
  gap: var(--xs);
  max-width: 200px;
}

.fieldset > input {
}

/* temporary */
.fieldset > span > select {
  padding: 2.5px;
}

/* resetting styles */

.details > summary {
  padding: 0;
}

.details[open] > summary {
  padding: 0 0 var(--sm);
}

.details[open]::details-content {
  padding: var(--sm) 0 0;
}
