.firstClass, .business, .economy, .unavailable, .selected {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 4px;
    vertical-align: middle;
}

.firstClass {
    background-color: #fff0f5;
    border: 1px solid #ff69b4;
}

.business {
    background-color: #e6e6fa;
    border: 1px solid #9370db;
}

.economy {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.unavailable {
    background-color: #ddd;
    border: 1px solid #ccc;
}

.selected {
    background-color: #3080ff;
    border: 1px solid #3080ff;
}

.seats {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
}

.flightInfo {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 2px transparent black;
    width: 40%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    
}

.flightDetails {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}